BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Attach
PointerAlignment: Left
SortIncludes: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
ColumnLimit: 200